extends ../layout

block content
  .container.main-body
    each cat in categories
      h3
        a(href="/results?cat=#{cat._id}&p=0") #{cat.name}
      .row          
        if cat.movies && cat.movies.length > 0
          each item in cat.movies
            .col-sm-4
              .card
                if item.poster.indexOf('http')>-1
                  img.card-img-top(src="#{item.poster}", alt="#{item.title}")
                else
                  img.card-img-top(src="/upload/#{item.poster}", alt="#{item.title}")
                .card-body
                  .card-title
                    h5 #{item.title}
                  a.btn.btn-primary(href = "/movie/#{item._id}", role = "button") 立即查看